<div>
    <h1 class="user-login">User-Login</h1>
    <form id="login-form" action="/login" method="post">
        <label>username: </label>
        <input id="username" name="username" placeholder="Enter username">
        <br>
        <label>password: </label>
        <input id="password" name="password" placeholder="Enter password" type="password" class="user-password">
        <br>
        <button type="submit">sumbit</button>
    </form>

    {{#if error_message}}
    <p> {{this.error_message}}</p>
    {{/if}}

    <a href="/signup">Need to register? Click here to sign-up</a>
</div>